<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sdu.zhiji">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Zhiji"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".SignupActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name=".SigninActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name=".ChatActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name=".MBTI.mbti_MainActivity"
            android:label="@string/title_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MBTI.mbti_AboutTestActivity"
            android:label="@string/title_about_test" />
        <activity
            android:name=".MBTI.mbti_DescriptorsListActivity"
            android:label="@string/title_descriptor" />
        <activity
            android:name=".MBTI.mbti_DescriptorActivity"
            android:label="@string/title_descriptor" />
        <activity
            android:name=".MBTI.mbti_PersonTypesListActivity"
            android:label="@string/title_person_type" />
        <activity
            android:name=".MBTI.mbti_PersonTypeActivity"
            android:label="@string/title_person_type" />
        <activity
            android:name=".MBTI.mbti_PrewordActivity"
            android:label="@string/title_preword" />
        <activity
            android:name=".MBTI.mbti_TestQuestionActivity"
            android:label="@string/title_test" />
        <activity
            android:name=".MBTI.mbti_ResultActivity"
            android:label="@string/title_result" />
        <activity
            android:name=".MBTI.mbti_ResultsListActivity"
            android:label="@string/title_result" />
        <activity
            android:name=".MBTI.mbti_DetailResultActivity"
            android:label="@string/title_result" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="com.sdu.zhiji.activity.main" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WelcomeActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>